.container {
  background-color: $light-grayish-cyan-1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo {
  margin: 5rem;
}
.card {
  background-color: $white;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  border-radius: 2rem;

  .input-section {
    width: 100%;
    display: flex;
    flex-direction: column;

    .label {
      color: $dark-grayish-cyan-1;
      font-size: 1.5rem;
      font-weight: 700;
    }

    .input {
      background-color: $light-grayish-cyan-2;
      color: $very-dark-cyan;
      font-size: 2.3rem;
      font-weight: 700;
      text-align: end;
      width: 100%;
      height: 4.5rem;
      padding: 0 1rem 0 1rem;
      border: none;
      border-radius: 5px;
    }
    .input:focus,
    .input:active,
    .input:hover {
      border: 3px solid $strong-cyan;
      outline: none;
    }

    .dollar-img,
    .people-img {
      position: relative;
      top: -33px;
      left: 10px;
    }
    .bill-container {
      margin-bottom: 10px;

      .bill-label-wrapper {
        margin-bottom: 8px;
      }
    }
    .tip-container {
      margin-bottom: 10px;

      .btn-label-wrapper {
        margin-bottom: 15px;
      }
    }

    .btn-wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
      gap: 15px;

      .btn {
        background-color: $very-dark-cyan;
        color: $white;
        width: 47%;
        height: 4.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 2.2rem;
        font-weight: 700;
        border-radius: 5px;
      }
      #btn-input:focus,
      #btn-input:active,
      #btn-input:hover {
        background-color: $light-grayish-cyan-2;
        color: $dark-cyan;
      }

      .btn:active,
      .btn:focus,
      .btn:hover {
        background-color: $strong-cyan;
      }

      .input {
        background-color: $light-grayish-cyan-2;
      }
      .input::placeholder {
        font-weight: 700;
      }
    }

    .people-container {
      margin-bottom: 10px;
      .people {
        margin-bottom: 5px;
      }
    }
    .labels {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
    .error {
      position: relative;
      color: rgb(211, 55, 55);
      font-size: 1.2rem;
      font-weight: 700;
      visibility: hidden;
    }
  }

  .output-section {
    background-color: $very-dark-cyan;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 250px;
    padding: 30px;
    border-radius: 10px;

    .title {
      color: $light-grayish-cyan-1;
      font-size: 1.5rem;
      font-weight: 700;
    }
    .analogy {
      color: $dark-grayish-cyan-2;
      font-size: 1.3rem;
      font-weight: 700;
    }
    .calculation {
      font-size: 2.8rem;
      font-weight: 700;
      color: $strong-cyan;
    }
    .amount-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
    .total-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
    .reset {
      background-color: $dark-cyan;
      color: $very-dark-cyan;
      font-size: 2rem;
      font-weight: 700;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 4.6rem;
      border-radius: 5px;
    }
    .reset:active,
    .reset:hover,
    .reset:focus {
      background-color: $strong-cyan;
    }
  }
}

.attribution {
  font-size: 1.2rem;
  margin-top: 50px;
}
