.container {
  background-color: $light-grayish-cyan-1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo {
  margin: 5rem;
}
.card {
  background-color: $white;
  width: 100%;
  max-width: 400px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  border-radius: 2rem;

  .input-section {
    width: 100%;
    display: flex;
    flex-direction: column;

    .input {
      background-color: $light-grayish-cyan-1;
      font-size: 2rem;
      text-align: end;
    }
    .dollar-img,
    .people-img {
      position: relative;
      top: -30px;
      left: 10px;
    }

    .btn-wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
      gap: 15px;

      .btn {
        background-color: $very-dark-cyan;
        color: $white;
        width: 47%;
        height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 2.2rem;
        font-weight: 700;
        border-radius: 5px;
      }
    }
    .labels {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
    .error {
      position: relative;
      color: rgb(211, 55, 55);
      font-weight: 700;
    }
  }

  .output-section {
    background-color: $very-dark-cyan;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 250px;
    padding: 30px;
    border-radius: 10px;

    .title {
      color: $light-grayish-cyan-1;
      font-size: 1.5rem;
      font-weight: 700;
    }
    .analogy {
      color: $dark-grayish-cyan-2;
      font-weight: 700;
    }
    .calculation {
      font-size: 2.5rem;
      font-weight: 700;
      color: $strong-cyan;
    }
    .amount-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
    .total-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
    .reset {
      background-color: $dark-cyan;
      color: $very-dark-cyan;
      font-size: 2rem;
      font-weight: 700;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 4rem;
      border-radius: 5px;
    }
  }
}

.label {
  color: $dark-grayish-cyan-1;
  font-size: 1.5rem;
  font-weight: 700;
}
.input {
  background-color: $light-grayish-cyan-2;
  width: 100%;
  height: 4rem;
  padding: 1rem;
  border: none;
  border-radius: 5px;
}
