* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--Light_grayish_cyan);
  font-family: 'Space Mono', monospace;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

h1 {
  display: none;
}

.container {
  background-color: #c5e4e7;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo {
  margin: 5rem;
}

.card {
  background-color: white;
  width: 100%;
  max-width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3rem;
  border-radius: 2rem;
}

.card .input-section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card .input-section .label {
  color: #5e7a7d;
  font-size: 1.5rem;
  font-weight: 700;
}

.card .input-section .input {
  background-color: #f4fafa;
  color: #00494d;
  font-size: 2.3rem;
  font-weight: 700;
  text-align: end;
  width: 100%;
  height: 4.5rem;
  padding: 0 1rem 0 1rem;
  border: none;
  border-radius: 5px;
}

.card .input-section .input:focus,
.card .input-section .input:active,
.card .input-section .input:hover {
  border: 3px solid #26c0ab;
  outline: none;
}

.card .input-section .dollar-img,
.card .input-section .people-img {
  position: relative;
  top: -33px;
  left: 10px;
}

.card .input-section .bill-container {
  margin-bottom: 10px;
}

.card .input-section .bill-container .bill-label-wrapper {
  margin-bottom: 8px;
}

.card .input-section .tip-container {
  margin-bottom: 10px;
}

.card .input-section .tip-container .btn-label-wrapper {
  margin-bottom: 15px;
}

.card .input-section .btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
  gap: 15px;
}

.card .input-section .btn-wrapper .btn {
  background-color: #00494d;
  color: white;
  width: 47%;
  height: 4.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
}

.card .input-section .btn-wrapper .custom {
  background-color: #f4fafa;
  color: #115b5f;
  width: 47%;
  height: 4.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 700;
  outline: none;
  border: none;
  border-radius: 5px;
}

.card .input-section .btn-wrapper .custom:focus,
.card .input-section .btn-wrapper .custom:active,
.card .input-section .btn-wrapper .custom:hover {
  color: #115b5f;
  border: 3px solid #26c0ab;
}

.card .input-section .btn-wrapper .btn:active,
.card .input-section .btn-wrapper .btn:focus,
.card .input-section .btn-wrapper .btn:hover {
  background-color: #26c0ab;
}

.card .input-section .btn-wrapper .input {
  background-color: #f4fafa;
}

.card .input-section .btn-wrapper .input::-webkit-input-placeholder {
  font-weight: 700;
}

.card .input-section .btn-wrapper .input:-ms-input-placeholder {
  font-weight: 700;
}

.card .input-section .btn-wrapper .input::-ms-input-placeholder {
  font-weight: 700;
}

.card .input-section .btn-wrapper .input::placeholder {
  font-weight: 700;
}

.card .input-section .people-container {
  margin-bottom: 10px;
}

.card .input-section .people-container .people {
  margin-bottom: 5px;
}

.card .input-section .labels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card .input-section .error {
  position: relative;
  color: #d33737;
  font-size: 1.2rem;
  font-weight: 700;
  visibility: hidden;
}

.card .output-section {
  background-color: #00494d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 250px;
  padding: 30px;
  border-radius: 10px;
}

.card .output-section .title {
  color: #c5e4e7;
  font-size: 1.5rem;
  font-weight: 700;
}

.card .output-section .analogy {
  color: #7f9c9f;
  font-size: 1.3rem;
  font-weight: 700;
}

.card .output-section .calculation {
  font-size: 2.8rem;
  font-weight: 700;
  color: #26c0ab;
}

.card .output-section .amount-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card .output-section .total-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card .output-section .reset {
  background-color: #115b5f;
  color: #00494d;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 4.6rem;
  border-radius: 5px;
  cursor: pointer;
}

.card .output-section .reset:active,
.card .output-section .reset:hover,
.card .output-section .reset:focus {
  background-color: #26c0ab;
}

.attribution {
  font-size: 1.2rem;
  margin-top: 50px;
}

@media (min-width: 780px) {
  .container {
    height: 100vh;
  }
  .container .card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 780px;
    height: 390px;
    margin: 30px;
  }
  .container .card .input-section {
    margin-top: 30px;
  }
  .container .card .input-section .btn-wrapper {
    gap: 12px;
  }
  .container .card .input-section .btn-wrapper .btn,
  .container .card .input-section .btn-wrapper .custom {
    width: 30%;
    height: 4rem;
    font-size: 1.9rem;
    font-weight: 700;
  }
  .container .card .output-section {
    height: 100%;
    margin-left: 20px;
  }
}
/*# sourceMappingURL=styles.css.map */